.first {
  height:18px;
  width: 70%;
  background: #ddd;
  margin-bottom: 7%;
  float: right;
  position: relative;
  z-index:5;

}
.second {
  height: 18px;
  background: #0B9200;
}

.bar{
margin-top:30px;
/* margin-bottom:90px; */
padding-left:40px;
padding-right:40px;
padding-bottom:40px;
padding-top:40px;
height: 300px;
width: 50%;
float:left;

overflow-y: scroll;
}
.bar2 {
float: left;;
}



.tooltiptext {
visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;;
z-index: 1;
left:160px ;
top: -40px;;
  /* Position the tooltip */

}



.first:hover .tooltiptext{
  visibility:visible;
}

.HeadingBar{

  color:#306dcf;
  margin-bottom:40px;
}
.noob {
color:white;
text-align: center;
}
